<footer class="footer">
    <div class="p2 wrap">
        <div class="measure mt1 center">
            <small>
                {{ site.ru.footer.copyright }}
                <br>
                <i class="fa fa-code"></i> {{site.ru.footer.available_on}} <a href="https://github.com/mgrachev/mgrachev.github.io" target="_blank"><i class="fa fa-github"></i></a>
                ({{ site.ru.footer.theme }}: <a href="https://github.com/johnotander/pixyll" target="_blank">pixyll</a>)
            </small>
        </div>
    </div>
</footer>

{% if site.google_analytics %}
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{ site.google_analytics }}']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
{% endif %}

{% if site.yandex_metrika %}
  <script type="text/javascript">
    (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter{{ site.yandex_metrika }} = new Ya.Metrika({id:{{ site.yandex_metrika }}, webvisor:true, clickmap:true, trackLinks:true, accurateTrackBounce:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");
  </script>
  <noscript>
    <div>
      <img src="//mc.yandex.ru/watch/{{ site.yandex_metrika }}" style="position:absolute; left:-9999px;" alt="" />
    </div>
  </noscript>
{% endif %}
