<footer class="center">
  <div class="measure">
    <small>
      <i class="fa fa-copyright"></i> 2014-{{ site.time | date: '%Y' }} {{ site.author }}<br>
      <i class="fa fa-code"></i> {{site.ru.footer.available_on}} <a href="https://github.com/mgrachev/mgrachev.github.io" target="_blank"><i class="fa fa-github"></i></a>
      ({{ site.ru.footer.theme }}: <a href="https://github.com/johnotander/pixyll" target="_blank">pixyll</a>)
    </small>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="/assets/javascripts/jquery.githubRepoWidget.js"></script>