<a href="{{ site.baseurl }}/about">{{ site.text.navigation.about }}</a>
<a href="{{ site.baseurl }}/speaks">{{ site.text.navigation.speaks }}</a>

<a href="{{ site.baseurl }}/open_source" title="{{ site.text.navigation.open_source }}">
    <span class="octicon octicon-git-pull-request"></span>
</a>
<sup class="counter">{{ site.counters.open_source_prs }}</sup>

<a href="{{ site.baseurl }}/projects" title="{{ site.text.navigation.projects }}">
    <span class="octicon octicon-repo"></span>
</a>
<sup class="counter">{{ site.counters.projects }}</sup>
