<a href="{{ site.baseurl }}/about">{{ site.text.navigation.about }}</a>
<a href="{{ site.baseurl }}/cv">{{ site.text.navigation.cv }}</a>
<a href="{{ site.baseurl }}/speaks">{{ site.text.navigation.speaks }}</a>
<sup class="counter">{{ site.counters.speaks }}</sup>

<a href="{{ site.baseurl }}/oss" title="{{ site.text.navigation.oss }}">
    <span class="octicon octicon-git-pull-request"></span>
</a>
<sup class="counter">{{ site.counters.oss }}</sup>

<a href="{{ site.baseurl }}/projects" title="{{ site.text.navigation.projects }}">
    <span class="octicon octicon-repo"></span>
</a>
<sup class="counter">{{ site.counters.projects }}</sup>
