<a href="{{ site.baseurl }}/about">{{ site.text.navigation.about }}</a>

<a href="{{ site.baseurl }}/contact">{{ site.text.navigation.contact }}</a>

<a href="{{ site.baseurl }}/pull_requests" title="{{ site.text.navigation.pull_requests }}">
    <span class="octicon octicon-git-pull-request"></span>
</a>
<sup class="counter">{{ site.counters.pull_requests }}</sup>

<a href="{{ site.baseurl }}/projects" title="{{ site.text.navigation.projects }}">
    <span class="octicon octicon-repo"></span>
</a>
<sup class="counter">{{ site.counters.projects }}</sup>
