@font-face {
  font-family: 'Lato';
  src: local('Lato Thin Regular'), local('Lato-Thin'), url('http://64424.selcdn.ru/webfont/lato/lato-thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: local('Lato Light Regular'), local('Lato-Light'), url('http://64424.selcdn.ru/webfont/lato/lato-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: local('Lato Regular'), local('Lato-Regular'), url('http://64424.selcdn.ru/webfont/lato/lato-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: local('Lato Medium Regular'), local('Lato-Medium'), url('http://64424.selcdn.ru/webfont/lato/lato-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: local('Lato Semibold Regular'), local('Lato-Semibold'), url('http://64424.selcdn.ru/webfont/lato/lato-semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: local('Lato Bold'), local('Lato-Bold'), url('http://64424.selcdn.ru/webfont/lato/lato-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: local('Lato Heavy Regular'), local('Lato-Heavy'), url('http://64424.selcdn.ru/webfont/lato/lato-heavy.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: local('Lato Black Regular'), local('Lato-Black'), url('http://64424.selcdn.ru/webfont/lato/lato-black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: local('Lato Thin Italic'), local('Lato-ThinItalic'), url('http://64424.selcdn.ru/webfont/lato/lato-thinitalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: local('Lato Light Italic'), local('Lato-LightItalic'), url('http://64424.selcdn.ru/webfont/lato/lato-lightitalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: local('Lato Italic'), local('Lato-Italic'), url('http://64424.selcdn.ru/webfont/lato/lato-italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: local('Lato Medium Italic'), local('Lato-MediumItalic'), url('http://64424.selcdn.ru/webfont/lato/lato-mediumitalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: local('Lato Semibold Italic'), local('Lato-SemiboldItalic'), url('http://64424.selcdn.ru/webfont/lato/lato-semibolditalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url('http://64424.selcdn.ru/webfont/lato/lato-bolditalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: local('Lato Heavy Italic'), local('Lato-HeavyItalic'), url('http://64424.selcdn.ru/webfont/lato/lato-heavyitalic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: local('Lato Black Italic'), local('Lato-BlackItalic'), url('http://64424.selcdn.ru/webfont/lato/lato-blackitalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Lato Hairline';
  src: local('Lato Hairline Regular'), local('Lato-Hairline'), url('http://64424.selcdn.ru/webfont/lato/lato-hairline.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato Hairline';
  src: local('Lato Hairline Italic'), local('Lato-HairlineItalic'), url('http://64424.selcdn.ru/webfont/lato/lato-hairlineitalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}