@font-face {
  font-family: 'Merriweather';
  src: local('Merriweather Light'), local('Merriweather-Light'), url('http://64424.selcdn.ru/webfont/merriweather/merriweather-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Merriweather';
  src: local('Merriweather'), url('http://64424.selcdn.ru/webfont/merriweather/merriweather-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Merriweather';
  src: local('Merriweather Bold'), local('Merriweather-Bold'), url('http://64424.selcdn.ru/webfont/merriweather/merriweather-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Merriweather';
  src: local('Merriweather Heavy'), local('Merriweather-Heavy'), url('http://64424.selcdn.ru/webfont/merriweather/merriweather-ultrabold.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Merriweather';
  src: local('Merriweather Light Italic'), local('Merriweather-LightItalic'), url('http://64424.selcdn.ru/webfont/merriweather/merriweather-lightit.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Merriweather';
  src: local('Merriweather Italic'), local('Merriweather-Italic'), url('http://64424.selcdn.ru/webfont/merriweather/merriweather-italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Merriweather';
  src: local('Merriweather Bold Italic'), local('Merriweather-BoldItalic'), url('http://64424.selcdn.ru/webfont/merriweather/merriweather-boldit.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Merriweather';
  src: local('Merriweather Heavy Italic'), local('Merriweather-HeavyItalic'), url('http://64424.selcdn.ru/webfont/merriweather/merriweather-ultrabdit.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}